<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="https://odileeds.org/resources/stuquery.js"></script>
	<script type="text/javascript" src="resources/maketable.js"></script>
	<link rel="StyleSheet" href="https://odileeds.org/resources/style.css" type="text/css" />
</head>
<body>
	<div id="site-message" class="c14-bg"><div>This is an example. The data and links are not guaranteed to be correct.</div></div>
	<div id="main">
		<header>
			<div class="b1-bg">
				<div class="holder" style="text-align:center;">
					<a href="https://odileeds.org/"><img src="https://odileeds.org/resources/images/odileeds-8.svg" /></a>
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</header>

		<div class="holder">
			{{ content }}
			<div id="table"></div>
		</div>
	</div>

	<footer class="b1-bg">
		<div class="holder">
			<p>&copy; 2019 ODI Leeds
			<br />Maintained by Stuart Lowe (<a href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>)
		</div>
	</footer>
</body>
</html>
